@import "../../mixins";
.detail-information-tab-detail {
  .container {
    .main-tab-form {
      .inp-area {
        display: flex;
        gap: 2%;
        .form-group {
          @include formGroup();
          width: 33%;
        }
      }

      .form-group-select {
        margin-top: 10px;
        @include form-group-select();
      }

      .form-footer {
        @include form-footer();
      }
    }
  }
}
